
.app__navbar{
    display: flex;

    justify-content: space-between;
    align-items: center;
    
    width: 100%;
   
    backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px); 
    position: fixed;
    padding: 1rem 2rem;
    // border-bottom: 1px solid rgb(210, 209, 209);
    z-index: 2;
}
.app__navlogo{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      h2{
         font-size: 30px;
         color: rgba(20, 20, 20, 0.873);
         font-family: 'Times New Roman';
         @media screen and (max-width:900px) {
           font-size: 20px;
        }
      }
}
.app__navlist{
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      list-style: none;
      li{
        flex-direction: column;
        margin: 0rem 1rem;
        cursor: pointer;
        
      div{
        width: 40px;
        height: 5px;
        background-color: transparent;
        border-radius: 2px;
        margin-bottom: 5px;
      
      }   

      a{
        color: rgba($color: #1a1717, $alpha: 0.9);
        text-decoration: none;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;

        transition: all 0.43s ease-in-out;
      &:hover{
        color: #f70e0e;
      }

      }
      &:hover{
        div{
           background-color: rgba($color: #ff0e0e, $alpha: 0.56);
           transition: all 0.56s ease-in-out;
        }
      }
    }
    @media screen and (max-width:900px) {
      display: none;
      transition: all 0.45s ease-out;
      
    } 
 }
 .hire-btn{
  background-color: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;

  border-radius: 5px;
  //  border: 1px solid white;
   transition: all 0.4s ease-in-out ;
   cursor: pointer;
   &:hover{
    box-shadow: 0rem 0rem 2rem -1rem rgb(230, 230, 230);
    background-color: rgb(102, 102, 102);

   }
 }


 